# Operating System Metadata
.DS_Store
**/.DS_Store
Thumbs.db

# Dependencies
node_modules/

# IDE & Editor files
.vscode/
.idea/

# Build caches & unpacked distributions
dist-electron/
dist/
build-mac/
.gradle/
android/.gradle/
android/app/build/
android/build/
android/capacitor-cordova-android-plugins/build/
